
db-content {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 40px;
  flex: 1 1 auto;
  overflow: auto;

  font-size: 13px;
  line-height: 1.8em;

  a {
    text-decoration: underline;
  }

  h2 {
    margin-top: 0px;
  }

  p {
    font-family: Verdana, sans-serif;
  }
}