
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: #4a525a;
  color: #eee;
}

.pull-right {
  order: 0;
  flex: 1 1 auto;
  text-align: right;
}